<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form method="POST" action="/save">
    <input type="text" name="name" placeholder="Enter name" required> <br>
    <br>
    <input type="number" name="mark1" placeholder="Enter mark" required><br>
    <br>
    <input type="number" name="mark2" placeholder="Enter mark" required><br>
    <br>

    <input type="number"name="mark3" placeholder="Enter mark" required><br>
    <br>

    <button>Submit</button>
</form>

</body>
</html>