<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view</title>
</head>
<body>
<table border="1">
    <tr>
        <th>NO</th>
        <th>Name</th>
        <th>Total</th>
        <th>Percent</th>
        <th>Grade</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.total }}</td>
        <td>{{ s.percent }}</td>
        <td>{{ s.grade }}</td>
        <td>{{ s.status }}</td>
        <td>
            <a href="/edit/{{ s.id }}">
        <button>Edit</button>
            </a>
            <a href="/delete/{{ s.id }}">
        <button>Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% if students %}
    <!-- show table -->
{% else %}
    <h3>No data available</h3>
{% endif %}
<br>
<a href="/clear">
    <button>clear</button>
</a>
<br>

<a href="/add">
    <button>Add student</button>
</a>
</body>
</html>